.navbar{
	padding:10px;
	margin-bottom: 0;
}

.navbar {
	margin-bottom: 0;
}

.navbar-inverse {
	
	background: transparent;
	border: 0;
}

.navbar-inverse .navbar-nav li a {
	color: white;
	font-size: 20px;
}

.navbar-inverse .navbar-nav li a:active {
	background: #458BD0;
	color: #87CEFA;
}

.navbar-brand{
	font-size: 50px;
}

.btn-primary {
	color: #fff;
	background-color: transparent;
	border-color: white;
	margin-bottom: 3px;
}

.btn-primary:hover {
	color: #C0C0C0;
	background-color: white;
	border-color: white;
}

.btn-sm{
	margin-left: 6px;
	border-radius: 26px;
	font-size: 15px;
}

